ngx-mat-timepicker {

  mat-form-field {
    height: 30px;

    .mat-form-field-infix {
      border: none;
    }
  }


}

ngx-mat-datetime-content .actions {
  position: relative;
  bottom: 40px;
  height: 0;

  button {
    height: 40px;
  }
}


.ngx-mat-timepicker form .table .tbody tr td .mat-icon-button {
  height: 14px;
  line-height: 14px;
}