<button color="primary"
        title="Создать задачу"
        mat-raised-button
        mat-icon-button
        (click)="onCardAdd()"
>
  <mat-icon>add</mat-icon>
</button>

<mat-slide-toggle class="edit-mode"
                  color="primary"
                  (change)="onEditModeChange($event.checked)"
>
  Режим редактирования
</mat-slide-toggle>

<div cdkDropList
     (cdkDropListDropped)="onCardDrop($event)"
>
  <mat-accordion displayMode="flat">
    <mat-expansion-panel *ngFor="let card of cards"
                         cdkDrag
                         [tlCardState]="card.date"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ card.name }}
        </mat-panel-title>
        <mat-panel-description>
            {{ card.date | date:'dd.MM.yyyy HH:mm' }}

            <div class="edit-panel" [ngClass]="{ 'hidden': !isEditMode }">
              <button title="Редактировать задачу"
                      mat-icon-button
                      (click)="onCardEdit(card, $event)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button title="Удалить задачу"
                      color="warn"
                      mat-icon-button
                      (click)="onCardDelete(card, $event)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{ card.description }}
    </mat-expansion-panel>
  </mat-accordion>
</div>


