<h2 mat-dialog-title>Редактирование задачи</h2>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Название</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Описание</mat-label>
    <input matInput [(ngModel)]="data.description">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Дата</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="time" placeholder="Время" [(ngModel)]="time">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Отмена</button>
  <button mat-button
          [mat-dialog-close]="data"
          dkFocusInitial
          (click)="onOkClick()"
  >ОК</button>
</div>
